{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@OrdermindLogicalAuthorization/Icon/icon.svg') }}
        <span class="sf-toolbar-value">{{ collector.log | length }}</span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            {# ... #}
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            {{ include('@OrdermindLogicalAuthorization/Icon/icon.svg') }}
        </span>
        <strong>LogAuth</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Logical Authorization</h2>
    <div class="sf-tabs">
        <div class="tab">
            <h3 class="tab-title">Access Checks<span class="badge">{{ collector.log | length }}</span></h3>
            <p class="text-muted">Information about the access checks that were made during this request.</p>

            <div class="tab-content">
                {% for log_item in collector.log %}
                {% set item = log_item.item_name %}
                {% if log_item.item is defined %}
                    {% set item = {(log_item.item_name): log_item.item} %}
                {% endif %}

                <table>
                    <tr>
                        <th>Type</th>
                        <th>Item</th>
                        <th>User</th>
                    </tr>
                    <tr>
                        <td>{{ log_item.type }}</td>
                        <td>{{ profiler_dump(item) }}</td>
                        <td>{{ profiler_dump(log_item.user) }}</td>
                    </tr>
                    <tr><td colspan="3">&nbsp;</td></tr>
                    {% if log_item.permissions | default([]) %}
                      <tr>
                          <th>Permissions</th>
                          <th>Access Bypass</th>
                      </tr>
                      <tr>
                          <td>
                              {{ log_item.permissions | json_encode }}
                              {{ profiler_dump(log_item.formatted_permission_checks) }}
                          </td>
                          <td>{{ log_item.bypassed_access }}</td>
                      </tr>
                    {% else %}
                      <tr>
                        <td colspan="3">No permissions have been defined for this route.</td>
                      </tr>
                    {% endif %}
                </table>
                {% endfor %}

            </div>
        </div>
        <div class="tab">
            <h3 class="tab-title">Permission Tree</h3>
            <p class="text-muted">Information about the entire permission tree.</p>

            <div class="tab-content">
                {{ profiler_dump(collector.permissionTree, maxDepth=2) }}
            </div>
        </div>
    </div>
{% endblock %}
