{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@OrdermindLogicalAuthorization/Icon/icon.svg') }}
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            {# ... #}
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label">
        <span class="icon">
            {{ include('@OrdermindLogicalAuthorization/Icon/icon.svg') }}
            <span class="sf-toolbar-value">4</span>
        </span>
        <strong>LogAuth</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Logical Authorization</h2>
    <div class="sf-tabs">
        <div class="tab">
            <h3 class="tab-title">Access Checks<span class="badge">4</span></h3>
            <p class="text-muted">Information about the access checks that were made during this request.</p>

            <div class="tab-content">
                <p>Content hej</p>
            </div>
        </div>
        <div class="tab">
            <h3 class="tab-title">Permission Tree</h3>
            <p class="text-muted">Information about the entire permission tree.</p>

            <div class="tab-content">
                {{ profiler_dump(collector.permissionTree, maxDepth=2) }}
            </div>
        </div>
    </div>
{% endblock %}
